In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dispatch_operation_log.csv')
data['工作性質_姓名'] = data['工作性質'] + data['人員姓名']
data['抵達時間'] = pd.to_datetime(data.抵達時間, format="%Y-%m-%d %H:%M:%S")
data['更新時間'] = pd.to_datetime(data.更新時間, format="%Y-%m-%d %H:%M:%S")
data['delta(sec)'] = (data['更新時間'] - data['抵達時間']).dt.total_seconds()

In [3]:
print('列數: ', len(data))

列數:  80860

In [4]:
print('去除重複後有幾個')
print('e.g.: 總共有 326 個調度員')
print('- '* 30)
for col in list(data.columns):
    print(col, len(data[col].unique()))

去除重複後有幾個
e.g.: 總共有 326 個調度員
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
城市 1
責任區 19
責任群 689
場站代號 1255
場站名稱 1255
平板裝置碼 128
車輛號碼 80
工作性質 2
人員編號 326
人員姓名 326
工作狀態 12
車輛數 149
備註 24
抵達時間 51975
更新時間 59070
工作性質_姓名 326
delta(sec) 4128

In [5]:
print('有多少個空值')
print('- '* 30)
data.isna().sum()

有多少個空值
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

城市                0
責任區               0
責任群               0
場站代號              0
場站名稱              0
平板裝置碼             0
車輛號碼          27760
工作性質              0
人員編號              0
人員姓名              0
工作狀態              0
車輛數               0
備註            80796
抵達時間              0
更新時間              0
工作性質_姓名           0
delta(sec)        0
dtype: int64

In [6]:
print('總共有', len(data), '個 operation')
print('- '* 30)
print('每一個責任區有幾次 operation')
print('e.g.: ZA1這個責任區在七月總共有 7727 次的 operation')
print('- '* 30)
tem = data.groupby('責任區').size().reset_index(name='counts')
print(tem)
print('- '* 30)
print('一個責任區平均處理', tem.counts.mean(), '個 operation')
print('中位數為', tem.counts.median(), '個 operation')

總共有 80860 個 operation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
每一個責任區有幾次 operation
e.g.: ZA1這個責任區在七月總共有 7727 次的 operation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    責任區  counts
0   ZA1    7727
1   ZA2    5354
2   ZB1    3227
3   ZB2    4311
4   ZB3    3689
5    ZC    3947
6   ZD1    4771
7   ZD2    3418
8    ZE    5500
9   ZH1    5781
10  ZH2    7411
11  ZI1    3464
12  ZI2    4105
13  ZJ1    1979
14  ZJ2    1585
15   ZN    7171
16   ZP    3365
17   ZU    2747
18  維護所    1308
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
一個責任區平均處理 4255.789473684211 個 operation
中位數為 3947.0 個 operation

In [7]:
print('總共有', len(data), '個 operation')
print('- '* 30)
print('每一組 (責任區, 責任群) 有幾次 operation')
print('e.g.: (ZA1, A1(嘉興公園)) 這組 (責任區, 責任群) 在七月總共有 219 次的 operation')
print('- '* 30)
tem = data.groupby(['責任區', '責任群']).size().reset_index(name='counts')
print(tem)
print('- '* 30)
print('一組 (責任區, 責任群) 平均處理', tem.counts.mean(), '個 operation')
print('中位數為', tem.counts.median(), '個 operation')

總共有 80860 個 operation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
每一組 (責任區, 責任群) 有幾次 operation
e.g.: (ZA1, A1(嘉興公園)) 這組 (責任區, 責任群) 在七月總共有 219 次的 operation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     責任區                   責任群  counts
0    ZA1              A1(嘉興公園)     219
1    ZA1             A10(泰和公園)     243
2    ZA1         A11(泰和里民活動中心)     251
3    ZA1      A12(捷運象山站(3號出口))     348
4    ZA1  A13(捷運台北101(世貿站2號出口)     472
..   ...                   ...     ...
684   ZU           C6(內湖垃圾焚化廠)       7
685   ZU          C7(康寧公園(北側))       9
686   ZU         C8(康寧路三段54巷口)       3
687   ZU            C9(東湖二號公園)      22
688  維護所                   維護所    1308

[689 rows x 3 columns]
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
一組 (責任區, 責任群) 平均處理 117.35849056603773 個 operation
中位數為 74.0 個 operation

In [8]:
print('每個責任區各自有幾個責任群')
print('e.g.: 責任區 ZA1 有 36 個責任群')
print('- '* 30)
data.groupby('責任區')['責任群'].nunique()

每個責任區各自有幾個責任群
e.g.: 責任區 ZA1 有 36 個責任群
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

責任區
ZA1    36
ZA2    38
ZB1    25
ZB2    20
ZB3    21
ZC     40
ZD1    49
ZD2    39
ZE     45
ZH1    29
ZH2    34
ZI1    48
ZI2    51
ZJ1    23
ZJ2    23
ZN     59
ZP     45
ZU     63
維護所     1
Name: 責任群, dtype: int64

In [9]:
print('每組 (責任區, 責任群) 服務幾個場站')
print('e.g.: (ZB2, A1(捷運公館站(2號出口))) 服務了 4 個場站')
print('- '* 30)
print(data.groupby(['責任區', '責任群'])['場站代號'].nunique().reset_index().sort_values(by='場站代號', ascending=False))

每組 (責任區, 責任群) 服務幾個場站
e.g.: (ZB2, A1(捷運公館站(2號出口))) 服務了 4 個場站
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     責任區                責任群  場站代號
688  維護所                維護所     7
99   ZB2    A1(捷運公館站(2號出口))     4
109  ZB2        B5(臺大鹿鳴堂東側)     3
307   ZE         C4(稻香重三路口)     3
250  ZD2   B3(捷運小南門站(1號出口))     3
..   ...                ...   ...
406  ZI1           B4(朝陽公園)     1
39   ZA2          A12(林口公園)     1
400  ZI1        B20(南京伊通街口)     1
399  ZI1  B2(臺北科技大學(電機工程系))     1
0    ZA1           A1(嘉興公園)     1

[689 rows x 3 columns]

In [10]:
print('總共有 12 種工作狀態')
print('分別為', set(data.工作狀態))
print('- '* 30)
print('而每一種工作狀態各有幾次的 operation 如下')
print(data.groupby('工作狀態').size())

總共有 12 種工作狀態
分別為 {'調入', '綁車', '調出', '修復', '綁故障車', '解綁車', '解檔車位數', '故障車調入', '解故障車', '解檔板數', '檔板數', '檔車位數'}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
而每一種工作狀態各有幾次的 operation 如下
工作狀態
修復          15
故障車調入       60
檔板數          1
檔車位數      4930
綁故障車        46
綁車       14960
解故障車        42
解檔板數         1
解檔車位數     5027
解綁車      15611
調入       20910
調出       19257
dtype: int64

In [11]:
print('總共有', len(set(data.車輛號碼)), '台貨車')
print('- '* 30)

tem1 = data[data.車輛號碼.isna()]  # 車輛號碼為 NA
tem2 = data[~data.車輛號碼.isna()] # 車輛號碼非 NA
print('有用到貨車的 operation 為', len(tem2), '次')
print('沒有用到貨車的 operation 為', len(tem1), '次')
print('- '* 30)

print('工讀與正職的人數分別為')
print(data.groupby('工作性質')['人員姓名'].nunique())
print('- '* 30)

print('有用到貨車的情況下, 工讀跟正職處理的 operation 數分別為')
print(tem2.groupby('工作性質').size())
print('- '* 30)

print('沒有用到貨車的情況下, 工讀跟正職處理的 operation 數分別為')
print(tem1.groupby('工作性質').size())
print('- '* 30)

t1 = set(data[data.工作性質 == '正職'].工作狀態)
t2 = set(data[data.工作性質 == '工讀'].工作狀態)
t = set(data.工作狀態).difference()
print('正職所負責的工作狀態為', t1)
print('正職沒有負責的工作狀態為', t.difference(t1))
print('工讀所負責的工作狀態為', t2)
print('正職沒有負責的工作狀態為', t.difference(t2))
print('- '* 30)

print('每輛貨車處理的 ’車輛數‘ 數量')
print(tem2.groupby('車輛號碼')['車輛數'].sum().reset_index().sort_values(by='車輛數'))
print('- '* 30)

print('有用到貨車的情況下, 每個人處理的車輛數為')
print(tem2.groupby('工作性質_姓名')['車輛數'].sum().reset_index().sort_values(by='車輛數'))
print('平均數為', tem2.groupby('工作性質_姓名')['車輛數'].sum().reset_index().車輛數.mean())
print('中位數為', tem2.groupby('工作性質_姓名')['車輛數'].sum().reset_index().車輛數.median())
print('- '* 30)

print('沒有用到貨車的情況下, 每個人處理的車輛數為')
print(tem1.groupby('工作性質_姓名')['車輛數'].sum().reset_index().sort_values(by='車輛數'))
print('平均數為', tem1.groupby('工作性質_姓名')['車輛數'].sum().reset_index().車輛數.mean())
print('中位數為', tem1.groupby('工作性質_姓名')['車輛數'].sum().reset_index().車輛數.median())
print('- '* 30)

print('有用到貨車的情況下, 每個人所處理的工作狀態的車輛數為')
print(tem2.groupby(['工作性質_姓名', '工作狀態'])['車輛數'].sum().reset_index())
print('沒有用到貨車的情況下, 每個人所處理的工作狀態的車輛數為')
print(tem1.groupby(['工作性質_姓名', '工作狀態'])['車輛數'].sum().reset_index())
print('- '* 30)

總共有 80 台貨車
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
有用到貨車的 operation 為 53100 次
沒有用到貨車的 operation 為 27760 次
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
工讀與正職的人數分別為
工作性質
工讀    130
正職    196
Name: 人員姓名, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
有用到貨車的情況下, 工讀跟正職處理的 operation 數分別為
工作性質
工讀     1205
正職    51895
dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
沒有用到貨車的情況下, 工讀跟正職處理的 operation 數分別為
工作性質
工讀    27760
dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
正職所負責的工作狀態為 {'調入', '調出', '綁車', '修復', '綁故障車', '解綁車', '解檔車位數', '故障車調入', '解故障車', '解檔板數', '檔車位數'}
正職沒有負責的工作狀態為 {'檔板數'}
工讀所負責的工作狀態為 {'綁車', '調出', '調入', '綁故障車', '解綁車', '解檔車位數', '故障車調入', '解故障車', '檔板數', '檔車位數'}
正職沒有負責的工作狀態為 {'修復', '解檔板數'}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
每輛貨車處理的 ’車輛數‘ 數量
        車輛號碼    車輛數
66  ZD1-0001     10
67  ZD2-0001     10
1   AGP-7251     31
78   ZX-0001     58
25  BBV-3681    104
..       ...    ...
51  RDX-6873  29623
58  RFA-5500  33244
44  BKP-0190  34430
42  BKK-9183  35985
48  BKP-3525  36601

[79 rows x 2 columns]
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
有用到貨車的情況下, 每個人處理的車輛數為
    工作性質_姓名    車輛數
4     工讀曾良穎      1
18    工讀陳柏宇      2
77     正職李玄      3
68    正職李家杰     16
8     工讀楊豐如     16
..      ...    ...
106   正職楊宇軒   9685
27    正職余俊德   9814
150   正職蕭世春  10034
182   正職陳品希  10143
204   正職陳鋼生  15176

[222 rows x 2 columns]
平均數為 2712.238738738739
中位數為 614.0
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
沒有用到貨車的情況下, 每個人處理的車輛數為
   工作性質_姓名   車輛數
44  工讀歐陽彥浚    10
64   工讀藍文廷    19
50   工讀王彩先    22
81   工讀鄭進益   318
84   工讀陳和豐   320
..     ...   ...
57   工讀胡義孝  5984
49   工讀王哲鴻  6139
48   工讀王勇盛  6142
41   工讀楊秋雄  6924
27   工讀李冠儒  7541

[112 rows x 2 columns]
平均數為 2653.9821428571427
中位數為 2563.0
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
有用到貨車的情況下, 每個人所處理的工作狀態的車輛數為
    工作性質_姓名   工作狀態  車輛數
0     工讀何書豪     綁車   20
1     工讀何書豪    解綁車   10
2     工讀何書豪     調入   48
3     工讀冉忠禮     綁車    7
4     工讀冉忠禮   解故障車    1
..      ...    ...  ...
943   正職黃銀瑩     綁車    4
944   正職黃銀瑩  解檔車位數    3
945   正職黃銀瑩    解綁車   21
946   正職黃銀瑩     調入  124
947   正職黃銀瑩     調出  138

[948 rows x 3 columns]
沒有用到貨車的情況下, 每個人所處理的工作狀態的車輛數為
    工作性質_姓名   工作狀態   車輛數
0     工讀丁蕙涼   檔車位數    69
1     工讀丁蕙涼     綁車   969
2     工讀丁蕙涼  解檔車位數    46
3     工讀丁蕙涼    解綁車   812
4      工讀何勇   檔車位數   621
..      ...    ...   ...
432   工讀黃柏翔    解綁車  1891
433   工讀黃鈺衡   檔車位數    56
434   工讀黃鈺衡     綁車   787
435   工讀黃鈺衡  解檔車位數    26
436   工讀黃鈺衡    解綁車   720

[437 rows x 3 columns]
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [12]:
print('每個工作狀態有幾次的 operation , 其中有多少次是沒有用到貨車的')
print('e.g.: 工作狀態`調出`有 19257 次的 operation, 其中有 4 次沒有用到貨車')
print(data.groupby('工作狀態').agg(
    num_operations=('車輛號碼', lambda x: len(x)), 
    num_na=('車輛號碼', lambda x: x.isnull().sum())
).reset_index())

每個工作狀態有幾次的 operation , 其中有多少次是沒有用到貨車的
e.g.: 工作狀態`調出`有 19257 次的 operation, 其中有 4 次沒有用到貨車
     工作狀態  num_operations  num_na
0      修復              15       0
1   故障車調入              60       1
2     檔板數               1       1
3    檔車位數            4930    4447
4    綁故障車              46       3
5      綁車           14960   13059
6    解故障車              42       2
7    解檔板數               1       0
8   解檔車位數            5027    2335
9     解綁車           15611    7900
10     調入           20910       8
11     調出           19257       4